<!DOCTYPE html>
<html>
<head>
  <title>Article Detail</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Article Detail</h1>
  <p>ID: <%= article.id %></p>
  <p>Title: <%= article.title %></p>
</body>
</html>